[Unit]
Description=PVN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/PVN/bin/PVN-service

[Install]
WantedBy=multi-user.target
